#不要なログなどはいらないので消す
*.aux
*.log
.DS_Store

#latexの中間ファイルは消す
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex(busy)
*.nav
*.vrb
*.dvi